@page
@model BookStoreRazorPage.Pages.AccountPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Avatar)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Account.Avatar))
            {
                <img src="@Model.Account.Avatar" alt="Avatar" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <p>No avatar available</p>
            }
            @* @Html.DisplayFor(model => model.Account.Avatar) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Store.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Store.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account?.Id">Edit</a> |
    <a asp-page="">Back </a>
</div>
