@page
@model BookStoreRazorPage.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.BookInStore[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookInStore[0].Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookInStore[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookInStore[0].Book.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookInStore) {
        <tr>
            <form>
                <td>
                        @Html.DisplayFor(modelItem => item.Book.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    <select class="form-control" asp-for="@Model.Quantity">
                            @{
                                for (int i = 1; i <= item.Amount; i++)
                                {
                                <option value="@i">@i</option>
                                }
                            }
                    </select>
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Book.Price) VND
                </td>
                <td>

                    <input type="submit" value="Order" class="btn btn-primary" asp-route-BookInStoreId="@item.Id" asp-route-BookId="@item.BookId" />
                </td>
            </form>
        </tr>
}
    </tbody>
</table>
